body, html {
    height: 100%;
    }
    * {
    box-sizing: border-box;
    }
    .bg-img {
    /* The image used */
    background-image: url("src\assets\images\home.jpg");
    
    /* Control the height of the image */
    height: 515px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
     /* Add styles to the form container */
     .container {
        position: absolute;
        right: 0;
        margin: 20px;
        max-width: 300px;
        padding: 16px;
    }