body, html {
    height: 100%;
    }
    * {
    box-sizing: border-box;
    }
    .bg-img {
    /* The image used */
    background-image: url("src\assets\images\bg.jpg");
    
    /* Control the height of the image */
    height: 600px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    /* Add styles to the form container */
    .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    }
    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    }
    input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    }
    
    /* Set a style for the submit button */
    .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    
    width: 100%;
    opacity: 0.9;
    }
    .btn:hover {
    opacity: 1;
    }