<div class="bg-img">
<h1 align="center"> Products Data </h1>


<div class="row offset-md-1" style="margin-top: 4px;">
    <div class="col-md-3" *ngFor="let product of products" style="margin-top: 10px;">
        
        <div class="card" style="width: 16rem;">
            <img class="card-image-top" [src]="product.imagePath" alt="Card Image Cap" style="width: 250px; height: 200px;"/>
        
            <div class="card-body">
                <h3 class="card-title"> {{product.productName}} </h3>
                <p class="card-text"> {{product.description}} </p>

                <div class="row">
                    <div class="col">
                        <h5> {{product.price | currency: 'INR'}} </h5>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" (click)="addToCart(product)"> Add To Cart</button>
                    </div>
                </div>
            </div>            
        </div>
        
    </div>
</div>
<